





 @media(max-width: 640px) {

  

  .menu-links li a {

    font-size: 13px;
  }
  
  .container {
    
    min-width: 100vw;
    padding-left:0.8rem;
    padding-right:0.8rem;
  
  }

  body {
    
    min-width: 100vw;
    overflow-x: hidden;
   
  }

 

  header {

    display:flex;
    justify-content: start;
    height: 110px;

  }

  header .logo {

    display:none;

  }
 

  .menu {

    display:flex;
    justify-content: end;
    align-items: center;
    width:100%;
    height: 100px;
    
    }

    .nav-text {

    display:none;

    }

    header #hidden-menu {

        display: block;
        pointer-events: visible;
        
    }

    
    #hidden-menu li {

        display:block;
        border: 3px solid #3860e4;

    }

    #hidden-menu #line-3 {

      border: 3px solid #ffa42d;
      transition: ease-in 200ms;
    }

    #hidden-menu #line-3.active {

      border: 3px solid #3860e4;
      transition: ease-in 200ms;
    }
   
    .menu .X-icon:active {

      transform: scale(0.8);
      transition: ease 100ms;
      background-color: #3860e4;

    }
    .info-container  {

      padding:0 1rem 0 1rem;
      min-height: 120vh;
      
    }

    .info-container h1 {

      font-size:2rem;
    }

    .info-container .info-section {

      display:flex;
      flex-direction: column;
      gap:2rem;
      justify-content: center;
      align-items: center;
     width: 90%;
     overflow: hidden;
     margin-bottom:3rem;

    }

   
    .services-container {

      padding:2rem 0 2rem 0;
      

    }

    .services-content .services-columns  {

      display:grid;
      grid-template-columns: 1fr;
      padding:0 1rem 0 1rem;

    }

    .services-container h1 {

      
      font-size:2.5rem;
      padding:2rem 0 2rem 0;
      

    }

    

    .call-to-action {

      display:flex;
      flex-direction: column;
      left:0;
      width: 100%;
    
    }

  .footer-container {

    width: 100%;
    
  }

    .footer-content {

      width: 170px;
      padding-left:0.5rem;
      padding-right:0.5rem;
    }

    .call-to-action h2 {

      font-size:1rem;
      
    }

    .call-to-action p {

      font-size: 1rem;
      
    }
    
.intro-container {

  padding: 0 1rem 0 1rem;
}
  
 
.intro-container .statistics-border {

  width: fit-content;
  align-self: center;
}
    .intro-container .statistics-border ul {

   display:flex;
   flex-direction: column;
   gap:1rem;
   

    }

   
    .check-icons i {

      font-size: 20px;
    }

    .intro-container .facts-container {


      display:flex;
      justify-content: center;
      align-items: center;
      
    }

    .form-wrapper form {

      min-width: 62vh;
      padding:2rem;
      
    }

    .form-wrapper form .form-content {

      width: 100%;

    }
    .form-wrapper .form-info img {

      display:none;
    }


    .intro-content p {

      font-size: 1.4rem;
     
      
  }

  .intro-content h1 {


    font-size:3rem;
  }


  .services-container .services-header  {


    display:flex;
    flex-direction: column;
   align-self: start;
    
}

.services-container .services-header h1 {

  align-self: start;
}
  
    }


 @media(max-width: 640px) {


  


  .nav-text {

  display:none;

  }

  #hidden-menu {

      display: block;
      pointer-events: visible;
  }



  #hidden-menu li {

      display:block;
      

  }


 

  .info-section {

    display:flex;
    flex-direction: column;
    gap:1.5rem;
    justify-content: center;
    align-items: center;
   width: 80%;
   overflow: hidden;
   
  }

  .info-section .info-column {
   
    min-width: 85%;
    min-height: 380px;
    
  }
 
  .main-header {

    display:grid;
    grid-template-columns: 1fr 1fr;
    place-content: center center;
    
  }


.main-header p {

  font-size: 1.7rem;

}

.main-header h1 {

  font-size:2.5rem;
  
}


.intro-container .statistics-border {

width: fit-content;
align-self: center;
}
  .intro-container .statistics-border ul {

 display:flex;
 flex-direction: column;
 gap:1rem;
 

  }

  .intro-container .check-icons i {

    font-size:1.8rem;
  }

  .intro-container .checks {


    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
  }



.intro-container .checks li {

  font-size: 1.4rem;
  padding:.5rem;
}


  .check-icons {

    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap:4rem;
    padding-bottom:2rem;
    
    
  }

  .intro-container .facts-container {


    display:grid;
   grid-template-columns: 1fr 1fr 1fr;
    place-content: center center;
    
  }


  .form-wrapper .form-info img {

    display:none;
  }


  .call-to-action .call-to-action-wrapper div div   {
    
   width: 100%;
   margin:20px 0 20px 0;
   
  
    }
  
    .message-and-call-btns {

      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
  }

  .message-and-call-btns #hero-btn-2,#hero-btn  {

    font-size:1.3rem;
    padding:0.8rem;
    border-radius: 0 10px 10px 0;
    
}

.message-and-call-btns #hero-btn-2 {


  animation-name:ringing;
  animation-duration: 1s;
  animation-iteration-count: 20;
  
}

@keyframes ringing {
  
  from {

      border-top:  4px solid #3860e4;
      border-right:  4px solid #3860e4;
      border-bottom:  4px solid #3860e4;
     
  }

  to {

      border-top:  4px solid #ffa42d;
      border-right:  4px solid #ffa42d;
      border-bottom:  4px solid #ffa42d;
      
  }
}




.form-wrapper .form-info h1 {

  font-size:2.7rem;

}

.form-wrapper .form-info p {

font-size: 1.6rem;

}

.form-info {

  padding-left:2rem;
}

}





@media(max-width:1050px) {

  .form-wrapper {
    
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: start;
   padding: 1rem 0 1rem 0;
   min-height: 180vh;
  }

 
  .form-wrapper h1 {

    width: 550px;
    text-align: start;
    align-self: center;

  }

  .form-wrapper img {


    display:none;
  }

  .form-wrapper p {

    margin-bottom:2rem;
  }



}


@media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }

    .carousel {

      width: 80vw;
    }
  }


  