

@font-face {
    font-family:Comforta;
    src: url(assets/font/static/Comfortaa-Bold.ttf) format("truetype");
    src: local("Comforta"), url("./assets/font/static/Comfortaa-Bold.ttf") format("truetype");
}





header {

    background: #F0F0F0;
    width: 100%;
    height: 120px;
    z-index:1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
        
}

header .logo {

    display:flex;
    justify-content: start;
    align-items: center;
    width: 130px;
    
}

header .logo img {

width: 100%;
z-index: 1;

}

header .logo h1 {

    font-size: 1.5rem;
    padding-left:1rem;
    color:#3860e4;
    animation-name: topToBottom;
    animation-duration: 1s;
    animation-iteration-count: 1;

    }

#hero-btn {

background-color: #3860e4;
color:white;
padding:1rem;
}
         
.buttons-color {
    background-color: #3860e4;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
   color:white;        
    border-radius: 10px;
    display: block;
    border:0;
    cursor: pointer;
  }

  #hero-btn:hover {
   background-color: #F0F0F0;
   color:#3860e4;
  }
 
#services-btn:hover {

    background-color: white;
    color:#3860e4;
}


#services-btn {

border:2px solid #3860e4;

}
#gallery-btn {

    margin-top:3rem;
    border:2px solid #3860e4;
}

#gallery-btn:hover {

    background-color: white;
    color:#3860e4;
   
   
}



.statistics-border {
    
    margin:1.5rem;
    border-radius: 1rem;
    margin-top:2rem;
    padding:10px;
    background: #3860e4;  

}


h1 {
    
    color:#FFDD00;
    font-size: 3rem;
    font-weight: 700;
    
}


.intro-content h1 {

    color:#3860e4;
    font-size: 5rem;
    margin-bottom:2rem;
}



.intro-content p {

    color:rgb(255, 255, 255);
    font-size:2rem;
    padding-top:1.5rem;
}





a {

    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
    }

/*  */

* {
    font-family: Comforta;
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

html {

    scroll-behavior: smooth;
}

body {
    
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #253993;
    
}





.nav-text ul {

display:flex;
flex-direction: row;
justify-content: center;


}

.nav-text ul li a  {

    color:#686868;
    padding:0 20px 0 20px;
}


button.active {

    transform: scale(0.8);
   
}

.menu {
    
    display: flex;
    flex-direction: column;
    background-color:#ffa42d;
    transition: all 300ms;
    overflow: hidden;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 20px 0 20px;
    
}



.menu-wrapper {

    padding:2rem;
    background-color: #e0edfd;
    display: none;
    
}

#main-wrapper {

    background-color: #c0dcff;
    
}
.menu.active {

    
    height: 170px;
    background-color: #F0F0F0;
    animation:radius;
    animation-duration: 600ms;
    
    
}

@keyframes radius {
    
    from {

        border-radius: 0 20px 90% 20px;
    }

    to {


           border-radius: 0 20px 0 20px;
    }
}



.menu ul {
    
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-basis: stretch;
    gap:1rem;

}




.logo {

    width: 80px;
    border-radius: 1.5rem;
   
}

.intro-content .logo-container {
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.intro-content .logo-container img {
    
    width: 250px;
    border-radius: 30px;
    margin-bottom:1.5rem;
    
    }

    

.intro-content .logo {

    width: 100px;
    border-radius: 1.5rem;
    margin-right: 20px;

}

ul {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding:1.5rem;
   
    
}

ul li {

    list-style-type: none;
    color:white;
   
}


.statistics-border ul li {

list-style-type: none;
font-size:1.2rem;
color:white;
font-weight: 700;


}





img {

   width: 50px;
    
}



main {

width: 100%;
overflow: hidden;
background-color: #253993;

}


.main-header {

background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(icons/pexels-seven11nash-380768.jpg);
background-size: cover;
background-position: center;
min-height: 100vh;
width: 100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items:start;
gap:1.5rem;

}


.main-header h1 {

    color:#e0edfd;
    font-size: 3.5rem;
    font-weight: 600;
}


.main-header p {

    font-size:2.5rem;
    color: #ffa42d;
    font-weight: 600;
    
}


.main-header a button {

    background-color: #F0F0F0;
    
    
}

.main-header a button {

  color:#253993;
    font-size: 1.3rem;
}




.info-container {

display:flex;
flex-direction: column;
justify-content: start;
align-items: center;
min-height: 120vh;
background-color:#c0dcff;
background-position: center;
background-size: cover;
padding-bottom:1rem;
overflow: hidden;
gap:4rem;
}

.info-container h1 {

    padding-top:3rem;
    color:#302f2f;

}

.info-section {
    min-width: 55vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    padding:1.5rem;
    position: relative;
    border-radius: 20px;
    
}

.info-column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#F0F0F0;
    padding:2.2rem;
    max-width: 45vh;
    min-height: 60vh;
    border-radius: 15px;
    box-shadow: 0 0 0.5rem rgba(87, 87, 87, 0.616);
    line-height: 1.3rem;
    color:#3d3d3d;
    gap:1.7rem;
}



.info-column button {

font-size: 1rem;
padding:1rem;
border-radius: 10px;
background-color: #F0F0F0;
color:black;
box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.419);
border:none;
cursor: pointer;

}

.info-column button:hover {

background-color: #3860e4;
color:#ffffff;
transition: 200ms;

}

.info-column h3 {

    margin-bottom:1rem;
    font-weight: 800;
    color: black;
    
}





.column-icon-house {

    width: 120px;
    margin-bottom: 1rem;
    
}

.column-icon-call {

    width: 120px;
    margin-bottom:1rem;
    
}

.column-icon-clean {

width: 120px;
margin-bottom:1rem;

}


.intro-container {


    min-height: 120vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #c0dcff;
   background-position: center;
   background-size: cover;
  overflow: hidden;
}


.intro-content {

    display:flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    padding: 3rem 0 3rem 0; 
    
}

.intro-content button {

    padding:1rem;
    margin-top:2rem;
    border-radius: 10px;
    align-self: center;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #F0F0F0;
    color:black;
}

.intro-content button a {

    color:black;
}

.intro-content button:hover {

    background-color: #3860e4;
    transition: all 200ms;
    color:white;
}

.intro-content .checks {

    display:flex;
    flex-direction: row;
    gap:1.5rem;
    
}

.intro-content .checks li {

    line-height: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size:1.2rem;
}

.check-icons {

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:1rem;
    
    
}



.bi-check-circle-fill {

    font-size:31px;
    color:#3860e4;

}





.intro-container img {

   width: 600px;
   border-radius:0 5px 50%;

}



.statistics-border ul {

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    font-weight: 700;
    
    
}



.statistics-border ul li {

   font-size:1.8rem;
   color:white;
    
}

.statistics-border ul li span {

    font-size:2rem;
    
}

.statistics-border li img {

    width: 70px;
    border-radius: 0;
   
    
}


.nav-links {

    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.nav-links li {

    font-size: 1.3rem;
    margin-left:2rem;
    padding-left:1rem;
    
}

.services-container h1 {

    font-size:3rem;
    color:#414141;
   
}

.services-container span {

    color:#3860e4;

  }

.services-container .services-header h1 span {

color:#3860e4;

}

.services-container .services-header h1  {

    color:#ffa42d;
    
    }

.services-container {


    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:3rem;
    min-height: 120vh;
background-color:#e0edfd;
  padding:2rem 0 2rem 0;
  
    
}

.services-container .services-columns {

    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    padding:1.5rem;
    place-content: center;
    
}

.column {

line-height: 1.5rem;
border-radius: 1rem;
padding:1rem;
max-width: 75vh;
color:#3d3d3d;
border:1px solid #d1d1d1;
background-color: #F0F0F0;
box-shadow: 0 0 1rem rgba(177, 177, 177, 0.363);
}

.column h2 {
    color:black;
    margin-bottom:1rem;
}

.gallery-container {

    
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    background-color:#c0dcff;
   background-position: center;
   background-size: cover;
    
    
}


.main-wrapper {

display:flex;
justify-content: center;
align-items: start;
flex-direction: column;
gap:1.5rem;
padding: 0 1rem 0 1rem;


}

.wrapper{
    
    display: flex;
    max-width: 1200px;
    position: relative;
  
   
  }

  

  .wrapper i {
   
    top: 50%;
    width: 40px;
    height: 36px;
    color: white;
    cursor: pointer;
    font-size:2rem;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 10;
    border-radius: 10px;

  }
  
 

  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }

  

  .wrapper i:first-child{
    left: -25px;
    display: none;
  }

  .wrapper i:last-child{
    right: -22px;
  }

  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    border-radius: 20px;
    
  }

  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }

  .carousel.dragging img{
    pointer-events: none;
  }

  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    border-radius: 20px;
  }

  .carousel img:first-child{
    margin-left: 0px;
  }

  

 .form-wrapper {

    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding:5rem;
    min-height: 150vh;
    background: linear-gradient(to bottom, #e0edfd,#e0edfd,#ffa42d);
    overflow: hidden;
   
 }

 .form-wrapper .form-info {


    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
 }

 .form-wrapper .form-info p {


font-size:1.8rem;
color:#302f2f;
padding-left: 2rem;


 }

 .form-wrapper .form-info img {

width: 50vh;
padding:1rem;
 }

 .form-wrapper .form-info h1 {
    font-size: 3rem;
    padding:2rem;
    color:#3860e4;
    align-self: start;
 }
  


  form {

    min-width: 470px;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
   margin-bottom:.5rem;
   
  }

form div {
   
    width: 90%;
    padding:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}


form div input,textarea {
padding: 1rem;
width:100%;
border-radius: 8px;
border:1px solid gray;
height: 40px;

}


.form-group-message {

display:flex;
justify-content: center;
align-items: start;

}

.form-group-message textarea{

    width: 280px;
    height: 120px;
    
    }

label {

    font-size: 1.2rem;
    color:#253993;
    margin-top:1rem;
}

.form-wrapper div button {
    
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    background-color: #3860e4;
    border:2px solid #3860e4;
    
}


.form-wrapper div button:hover {

    
    background-color: white;
    color:#3860e4;
    }


.hamburger-menu {

   display:flex;
   
   
}
  

#hidden-menu {
    
    pointer-events: none;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    width: 100%;
    
}




#hidden-menu li {
    
    display: none;
    list-style: none;
    border:3px solid #3860e4;
    margin:10px;
    border-radius: 20px;
    width: 35px;
}



.menu-links li {

border:2px solid #3860e4;
padding:5px;
border-radius: 8px;
background-color: #3860e4;
flex-grow: 1;

}




.to-top {
    color:#ffa42d;
    position: fixed;
    bottom:16px;
    right:18px;
    font-size: 60px;
    width: 50px;
    height: 50px;
    margin:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
   
}

.to-top.active {

bottom:32px;
pointer-events: auto;
opacity:1;
z-index: 1;

}



.call-to-action {

    position: relative;
    width: 70%;
    min-height: 50vh;
   bottom:100px;
  left:15%;
   border-radius: 10px;
    background-color: #fff;
    text-align: center;
    padding:2rem;
    box-shadow:  0 0 1rem #25252542;
}




.call-to-action-wrapper {


    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:1rem;
    
}


.call-to-action-wrapper div {


display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}


.call-to-action-wrapper div h2 {
font-size: 1.3rem;
margin-bottom:1.5rem;
color:black;
width: 150px;
}

.call-to-action .call-to-action-wrapper div div  {
    
    width: 230px;
    

    }

    .call-to-action .call-to-action-wrapper div div a {

        border-radius: 10px;
        background-color: #3860e4;
        font-weight: 800;
        animation-name:borderOrange;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        padding:10px;
    }

    

    @keyframes borderOrange {
        
        from {

            box-shadow: 0 0 0.3rem #ffa42d;
        }

        to {

            box-shadow: 0 0 2rem #ffa42d;
        }
    }

.call-to-action-wrapper div p {

    
    color:gray;
    line-height: 30px;
    }



.call-to-action .column-icon-call {

width: 80px;

}


footer {

    min-height: 80vh;
    display:flex;
   justify-content: center;
    align-items: start;
    width: 100%;
    overflow: hidden;
    
}

footer .footer-container {

display:flex;
column-gap: 3rem;
line-height: 2rem;
justify-content: center;
align-items: start;

}


footer {


    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:3rem;
}



.footer-content li h2 {

    color:#ffb24e;
    padding-bottom:1rem;
}


.footer-content li a {

    line-height: 2.2rem;
   font-size:1rem;
   
}


.footer-content li a:hover {

border-bottom:2px solid #ffa42d;

}

.footer-content li img  {

    width: 28px;
   padding-right:5px;
   
}

footer .social {


    display:flex;
    justify-content: space-evenly;
    align-items: center;
   padding-top:5rem;
   width: 30%;
   gap:3rem;
}


footer .social img {


    width: 45px;
    
    
}


footer .all-rights-reserved {

color:rgb(168, 168, 168);
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
gap:1rem;
border-top:1px solid rgb(171, 171, 171);
padding:1rem;
font-size: 14px;
}

footer .all-rights-reserved a {

    font-size:15px;
    color:rgb(164, 164, 164);
    text-decoration: underline;
}


/* Services page */





.services-container p {


    
    line-height: 25px;
    
}



.services-container .services-header {


    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding:2rem;
    
}

.services-container .services-header p {

    font-size:1.2rem;
    line-height: 1.5rem;
    color:#3d3d3d;
    }

.about-container {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0edfd;
    padding-bottom:2rem;
    
    
}


.about-container .about-page {


    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding:2rem;
    margin:2rem;

    
}




.about-container .about-page p {

font-size:1.2rem;
line-height: 1.5rem;
color:#3d3d3d;

}

.about-container .about-page h1 {

    color:#ffa42d;
    padding-bottom:3rem;
}


.about-container .about-page h1 span {

color:#3860e4;

}

.about-container .about-page h2 {

    font-size:1.8rem;
    color:#3860e4;
    margin-bottom:1rem;
}


.about-container .about-content button  {

  padding:1rem;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  background-color: white;
  border:none;
  margin-top:1rem;

}


.about-container .about-content button:hover {

    color:#3860e4;
}

.message-and-call-btns {

    display:flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
   
}



.message-and-call-btns #hero-btn  {

   
    border:4px solid #3860e4;
   
    
}


.message-and-call-btns #hero-btn-2  {

    background-color: #F0F0F0;
    color:#3860e4;
    border:4px solid #F0F0F0;
    font-size:1.3rem;
    
}



.message-and-call-btns #hero-btn-2:hover {
    border:4px solid #ffa42d;
    transition: 200ms;

}

.message-and-call-btns #hero-btn-2 {


    animation-name:ringing;
    animation-duration: 1s;
    animation-iteration-count: 20;
    
}

@keyframes ringing {
    

    to {

        box-shadow: 0 0 1rem #ffa42d; 
        
    }
}


form .form-group {


    display:flex;
    justify-content: center;
    align-items: start;
   width: 100%;
    padding:2rem;
    height: 50px;
    margin: 8px 0 8px 0;
}




.about-container .maintenance-box {

    border:2px solid rgb(129, 129, 129);
    border-radius: 10px;
    padding:2.5rem;
    background-color: #ffffff;
    
}

.about-container .maintenance-box div {

    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: start;
    justify-content: center;
    color:rgb(79, 79, 79);
}

.about-container .maintenance-box div h1 {

    font-size: 2rem;
    color:#76affc;
}


.about-container .about-content .button {

    padding:1rem;
    border-radius: 10px;
    font-size: 1rem;
    width: 20%;
    background-color: white;
    border:none;
    cursor: pointer;
  }

  .about-container .about-content .number {

    cursor: pointer;
  }

  .form-content {

    border-radius: 20px;
    background-color: #ffffff;
    box-shadow:  0 0 1rem #6868683d;
  }

 
  /* Gallery css */

 .about-container .gallery-header h1 {
padding-top:3rem;
text-align: center;
color:#3860e4;


 }

 .stars {

    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:1rem;
    font-size: 1.5rem;
    color: #ffb24e;
 }

.gallerypage-container {
    
    position: relative;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    padding:1rem;
}

#gallery-image {
    
    width: 100%;
    height: 440px;
    overflow: hidden;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.326);
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
    font-size:1.5rem;
}

.nav-button:hover {

background-color: white;
color:black;

}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#gallery-image.zoomed {
    transform: scale(1.6);
    cursor: zoom-out;
}

.contact-container {


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e0edfd;
    padding:2rem;
    min-height: 100vh;
}


.contact-container .contact-content .contact-page {


    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:2rem;
    padding:2rem;
    
}


.contact-page h1 {

    font-size: 2rem;
    color: #3860e4;
    
}

.contact-page span {

    color: #ffb24e;
    
}

.contact-page div h2 {


    font-size: 2rem;
}

.contact-page div a {

    gap:2rem;
    
    
}

.contact-page div button {


    padding:1rem;
    border-radius: 10px;
    margin-top:1rem;
    border:none;
    font-size:1rem;
    background-color: #F0F0F0;
}


.contact-page div button:hover {


    color:#3860e4;
}

.contact-page .number button {

    cursor: pointer;
}

.contact-page div {

    margin-top:1rem;
    margin-bottom:1rem;

}

